$theme-bg: white;
$theme-color: #23B2A9;

$generalInfo-bg: #EFF9F8;

$button-text-color: white;
$detail-content-title: #1B4B4A;
$content-text-color: #333333;

$border: 1px solid #BEA593;

@mixin selection-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: $border;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    height: 40px;
}

@mixin icon {
    width: 16px;
    height: 16px;
}

.position__smallLogo,
.location__smallLogo {
    height: 18px;
    width: 14px;
}
button:after {
    border: none;
}
.button-hover {
    // color: $theme-color !important;
    background-color: rgba(225, 225, 225,  0.7) !important;
}
.zoom-bar-hover {
    background-color: white !important;
}
.androidLineHeight {
    line-height: 1.2 !important;
}
.iosLineHeight {
    line-height: 1.8 !important;
}
.lh-14 {
    line-height: 1.4 !important;
}
.lh-18 {
    line-height: 1.8 !important;
}
cover-view {
    line-height: unset;
}
cover-image {
    display: inline-block;
}
// view {
//     font-family: 'Quicksand', sans-serif;
// }
.top-navigation-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.d-flex {
    display: flex;
}
.f-grow-1 {
    flex-grow: 1;
}
.mt-2 {
    margin-top: 2px;
}