$theme-bg: white;
$theme-color: #23B2A9;

$text-color: white;

$border: 1px solid #BEA593;

@mixin selection-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: $border;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  height: 40px;
}

@mixin icon {
  width: 16px;
  height: 16px;
}

.position__smallLogo, .location__smallLogo {
  height: 18px;
  width: 14px;
}

button:after {
  border: none;
}

.button-hover {
  color: $theme-color !important;
  background-color: whitesmoke !important;
}

cover-image {
  display: inline-block;
}
